## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ["Londres", "Palermo", "Barcelona", "Bs As", "Rosario", "Formosa"]
print(ciudades)

['Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

Palermo

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(ciudades[2:4])

['Barcelona', 'Bs As']

4) Visualizar el tipo de dato de la lista

In [5]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [6]:
print(ciudades[3:])

['Bs As', 'Rosario', 'Formosa']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(ciudades[:4])

['Londres', 'Palermo', 'Barcelona', 'Bs As']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [8]:
ciudades.append("Formosa")
ciudades.append("Madrid")

#No arroja error

8) Agregar otra ciudad, pero en la cuarta posición

In [9]:
ciudades.insert(4,"Lisboa")
print(ciudades)

['Londres', 'Palermo', 'Barcelona', 'Bs As', 'Lisboa', 'Rosario', 'Formosa', 'Formosa', 'Madrid']

9) Concatenar otra lista a la ya creada

In [10]:
paises = ["Reino unido", "Italia", "España", "Argentina", "Portugual", "Argentina", "Brasil", "Chile"]
ciudades.extend(paises)
print(ciudades)

['Londres', 'Palermo', 'Barcelona', 'Bs As', 'Lisboa', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil', 'Chile']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [11]:
print(ciudades.index("Formosa"))
#La particularidad es que devuelve el primer indice del elemento que busco

6

11) ¿Qué pasa si se busca un elemento que no existe?

In [16]:
print(ciudades[20])

IndexError: list index out of range

12) Eliminar un elemento de la lista

In [17]:
ciudades.remove("Lisboa")
print(ciudades)

['Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil', 'Chile']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [18]:
ciudades.remove("San Pablo")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [19]:
elem_eliminado = ciudades.pop()
print(elem_eliminado)

Chile

15) Mostrar la lista multiplicada por 4

In [20]:
print(ciudades * 4)

['Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil', 'Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil', 'Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil', 'Londres', 'Palermo', 'Barcelona', 'Bs As', 'Rosario', 'Formosa', 'Formosa', 'Madrid', 'Reino unido', 'Italia', 'España', 'Argentina', 'Portugual', 'Argentina', 'Brasil']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [21]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [24]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [27]:
if mi_tupla.count(20):
    print("El numero 20 está en la tupla")
if mi_tupla.count(30):
    print("El numero 30 está en la tupla")

El numero 20 está en la tupla

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [32]:

if "Paris" == ciudades:
    print("Paris está en la lista")
else:
    print("Paris no está en la lista, ahora lo agregamos")
    ciudad_paris = ciudades.append("Paris")
    print("Paris ya fue agregada")

Paris no está en la lista, ahora lo agregamos
Paris ya fue agregada

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [34]:
num_tupla = 3
elemento_en_tupla = mi_tupla.count(num_tupla)
print(f"El elemento {num_tupla} se encuentra {elemento_en_tupla} veces en la tupla ")

ciudad_barcelona = "Barcelona"
elemento_en_lista = ciudades.count(ciudad_barcelona)
print(f"El elemento {ciudad_barcelona} se encuentra {elemento_en_lista} veces en la lista ")

El elemento 3 se encuentra 1 veces en la tupla
El elemento Barcelona se encuentra 1 veces en la lista

21) Convertir la tupla en una lista

In [35]:
lista2 = list(mi_tupla)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [40]:
x,y,z, *resto = mi_tupla
print(x, y , z)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [41]:
mis_ciudades= {
    "ciudad": "Londres",
    "ciudad": "Palermo",
    "ciudad": "Barcelona",
    "ciudad": "Bs As",
    "ciudad": "Rosario",
    "ciudad": "Formosa",
    "pais"  : "Brasil",
    "continente": "America"

}

print(mis_ciudades)

{'ciudad': 'Formosa', 'pais': 'Brasil', 'continente': 'America'}

24) Imprimir las claves del diccionario

In [42]:
print(mis_ciudades.keys())

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [43]:
for clave in mis_ciudades:
    print(clave)

ciudad
pais
continente